.content
{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #0A142D;
    color: white
}

.appname{
    font-weight: 900;
    font-size: 50px;
}

.intro
{
    margin: 0;
    top: 75%;
}

.downloadbtn{

    padding: 20px;
    background-color: #FC9368;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-decoration: none;
    width: fit-content;
}

@media (max-width: 800px) {
    .content {
      flex-wrap: wrap-reverse;
    }
  }